lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

node_modules
www/*
.tmp
.sass-cache
.DS_Store
app/bower_components
coverage
.idea
npm-debug.log

pids
logs
results

plugins/*
platforms/*

!plugins/.gitignore
!platforms/.gitignore
!www/.gitignore